body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.base-node {
  border-radius: 8px;
  border: 1px solid #333;
  background: #ffffff;
  font-size: 12px;
}

.node-header {
  font-weight: 600;
  padding: 6px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.node-body {
  padding: 8px;
}
